.mt--y10
{
    margin: 10px 0;
}

.login__btn
{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.nav__dropdown
{
    background: #111111;
    border: none;
}

.nav__dropdown:hover
{
    background: #111111;
    border: none;
}

.swal2-styled.swal2-confirm {
    border: none !important;
    border-radius: .25em;
    background: initial;
    background-color: #2778c4;
    color: #fff !important;
    font-size: 1.0625em;
    margin-top: 10px;
    text-align: center;
    line-height: 15px;
}

.cr-pointer
{
    cursor: pointer;
}

#app .spinner-border {
    display: inline-block;
    width: 1.2rem !important;
    height: 1.2rem !important;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: .75s linear infinite spinner-border;
}

#app .toggle__MenuButton
{
    background: transparent !important;
    margin-right: 15px;
}

#app .b-sidebar-header strong
{
    color: #fff !important;
}

.nav-item a
{
    color: #fff !important;
}

.nav-item a:hover
{
    opacity: .5 !important;
}

.nav-item:hover
{
    background: #61656b;
}