.mt--y10
{
    margin: 10px 0;
}

.login__btn
{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.nav__dropdown
{
    background: #111111;
    border: none;
}

.nav__dropdown:hover
{
    background: #111111;
    border: none;
}