.mt--y10
{
    margin: 10px 0;
}

.login__btn
{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.nav__dropdown
{
    background: #111111;
    border: none;
}

.nav__dropdown:hover
{
    background: #111111;
    border: none;
}

.swal2-styled.swal2-confirm {
    border: none !important;
    border-radius: .25em;
    background: initial;
    background-color: #2778c4;
    color: #fff !important;
    font-size: 1.0625em;
    margin-top: 10px;
    text-align: center;
    line-height: 15px;
}

.cr-pointer
{
    cursor: pointer;
}
